nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: #f2e9e4;
    margin: 0 15px;
    font-family: 'Arial', sans-serif;
    transition: color 0.3s ease;
}

nav a:hover,
nav a.active {
    color: #9a8c98;
}